html
    head
        link(rel="stylesheet" type="text/css" href="/css/stocks.css")
    body(onload='loadInfo()')
        section
            div
                div#header-div
                    h3#header-text
            div
                div#input-div
                    input#input-box(type="text", placeholder='Input Stock name...', list='fullUL', onkeyup='searchHandler()')
                    button#add-button(onclick='addHandler()') Add
                datalist#fullUL
            div
                table#price-table
                    tr
                        th Market
                        th Symbol/Ticker
                        th Name
                        th Price
                        th Action

            div
                div#return-div
                    table#return-table
                        tr#st-row
                            th Symbol/Ticker
                        tr#day-row
                            th Daily Percentage
                        tr#week-row
                            th Weekly Percentage
                        tr#month-row
                            th Monthly Percentage
                        tr#ytd-row
                            th YTD Percentage
                        tr#year-row
                            th 1 Year Percentage
                        tr#three-row
                            th 3 Year Percentage
                        tr#five-row
                            th 5 Year Percentage
                        tr#date-row
                            th Last Updated

    script.
        let search_result = [];
        let page_id;
        function loadInfo(){
            let res = !{result};
            page_id = res.symbol;
            document.getElementById('header-text').innerText = 'Stock Ticker/Symbol: ' + res.symbol;
            let row = document.createElement('tr');
            let market_td = document.createElement('td');
            let symbol = document.createElement('td');
            let name_td = document.createElement('td');
            let price_td = document.createElement('td');
            market_td.innerText = res.market;
            symbol.innerText = res.symbol;
            price_td.innerText = res.price.toFixed(2);
            name_td.innerText = res.stock_name;
            row.appendChild(market_td);
            row.appendChild(symbol);
            row.appendChild(name_td);
            row.appendChild(price_td);
            row.appendChild(document.createElement('td'));

            document.getElementById('price-table').appendChild(row);

            let symbol_td = document.createElement("td")
            symbol_td.classList.add('st');
            symbol_td.innerText = res.symbol;
            document.getElementById('st-row').appendChild(symbol_td);
            let day_td = document.createElement("td");
            let week_td = document.createElement("td");
            let month_td = document.createElement("td");
            let year_td = document.createElement("td");
            let ytd_td = document.createElement("td");
            let three_td = document.createElement("td");
            let five_td = document.createElement("td");
            let last_update_td = document.createElement('td');
            last_update_td.innerText = res.last_update;
            document.getElementById('date-row').appendChild(last_update_td);
            if (res.day_return) {
                day_td.innerText = res.day_return.toFixed(2) + '%'
                document.getElementById('day-row').appendChild(day_td);
            } else {
                day_td.innerText = 'No enough data'
                document.getElementById('day-row').appendChild(day_td);
            }

            if (res.week_return) {
                week_td.innerText = res.week_return.toFixed(2) + '%'
                document.getElementById('week-row').appendChild(week_td);
            } else {
                week_td.innerText = 'No enough data'
                document.getElementById('week-row').appendChild(week_td);
            }

            if (res.month_return) {
                month_td.innerText = res.month_return.toFixed(2) + '%'
                document.getElementById('month-row').appendChild(month_td);
            } else {
                month_td.innerText = 'No enough data'
                document.getElementById('month-row').appendChild(month_td);
            }

            if (res.year_return) {
                year_td.innerText = res.year_return.toFixed(2) + '%';
                document.getElementById('year-row').appendChild(year_td);
            } else {
                year_td.innerText = 'No enough data'
                document.getElementById('year-row').appendChild(year_td);
            }
            if (res.ytd_return) {
                ytd_td.innerText = res.ytd_return.toFixed(2) + '%';
                document.getElementById('ytd-row').appendChild(ytd_td);
            } else {
                ytd_td.innerText = 'No enough data'
                document.getElementById('ytd-row').appendChild(ytd_td);
            }
            if (res.three_year_return) {
                three_td.innerText = res.three_year_return.toFixed(2) + '%';
                document.getElementById('three-row').appendChild(three_td);
            } else {
                three_td.innerText = 'No enough data'
                document.getElementById('three-row').appendChild(three_td);
            }

            if (res.five_year_return) {
                five_td.innerText = res.five_year_return.toFixed(2) + '%';
                document.getElementById('five-row').appendChild(five_td);
            } else {
                five_td.innerText = 'No enough data'
                document.getElementById('five-row').appendChild(five_td);
            }
            }

        function searchHandler() {
            console.log(document.getElementById('input-box').value);
            let input = document.getElementById('input-box').value;

            let url = '/details/search/' + input;
            let request = new Request(url, {
                method: 'GET',
                headers: {'Content-Type': 'application/json'}
            });

            fetch(request)
                .then(function (response) {
                    return response.json();
                })
                .then(function (res) {
                    let ul = document.getElementById("fullUL");
                    ul.innerHTML = '';
                    let option, a;
                    for (let i = 0; i < res.sorted.length; i++) {
                        option = document.createElement('option');
                        a = document.createElement('a');
                        a.innerText = res.sorted[i].stock_name;
                        option.value = res.sorted[i].stock_name;
                        search_result = res.sorted;
                        console.log("Im here");
                        ul.appendChild(option);
                    }
                })
        }

        async function addHandler(){
            let item;
            for (let i = 0; i < search_result.length; i++) {
                if (search_result[i].stock_name === document.getElementById('input-box').value) {
                    item = search_result[i];
                }
            }
            console.log(item);
            let url = '/stocks/add/' + item.ticker;
            console.log(url);
            let res = await fetch(url);
            res = await res.json();
            res = await Promise.resolve(res);
            console.log(res.day_return);
            let row = document.createElement('tr');
            let market_td = document.createElement('td');
            let symbol = document.createElement('td');
            let name_td = document.createElement('td');
            let price_td = document.createElement('td');
            let action_td = document.createElement('td');
            let button = document.createElement('button');
            button.innerText = 'Remove';
            button.addEventListener("click", removeHandler);
            action_td.appendChild(button);
            let view_button = document.createElement('button');
            view_button.innerText = 'View';
            view_button.addEventListener('click', viewHandler);
            action_td.appendChild(view_button);
            market_td.innerText = res.market;
            symbol.innerText = res.symbol;
            price_td.innerText = res.price.toFixed(2);
            name_td.innerText = res.stock_name;
            row.appendChild(market_td);
            row.appendChild(symbol);
            row.appendChild(name_td);
            row.appendChild(price_td);
            row.appendChild(action_td);
            row.classList.add(res.symbol);
            document.getElementById('price-table').appendChild(row);

            let symbol_td = document.createElement("td")
            symbol_td.classList.add('st');
            symbol_td.classList.add(res.symbol);
            symbol_td.innerText = res.symbol;
            document.getElementById('st-row').appendChild(symbol_td);
            let day_td = document.createElement("td");
            day_td.classList.add(res.symbol);
            let week_td = document.createElement("td");
            week_td.classList.add(res.symbol);
            let month_td = document.createElement("td");
            month_td.classList.add(res.symbol);
            let year_td = document.createElement("td");
            year_td.classList.add(res.symbol);
            let ytd_td = document.createElement("td");
            ytd_td.classList.add(res.symbol);
            let three_td = document.createElement("td");
            three_td.classList.add(res.symbol);
            let five_td = document.createElement("td");
            five_td.classList.add(res.symbol);
            let last_update_td = document.createElement('td');
            last_update_td.classList.add(res.symbol);
            last_update_td.innerText = res.last_update;
            document.getElementById('date-row').appendChild(last_update_td);
            if (res.day_return) {
                day_td.innerText = res.day_return.toFixed(2) + '%'
                document.getElementById('day-row').appendChild(day_td);
            } else {
                day_td.innerText = 'No enough data'
                document.getElementById('day-row').appendChild(day_td);
            }

            if (res.week_return) {
                week_td.innerText = res.week_return.toFixed(2) + '%'
                document.getElementById('week-row').appendChild(week_td);
            } else {
                week_td.innerText = 'No enough data'
                document.getElementById('week-row').appendChild(week_td);
            }

            if (res.month_return) {
                month_td.innerText = res.month_return.toFixed(2) + '%'
                document.getElementById('month-row').appendChild(month_td);
            } else {
                month_td.innerText = 'No enough data'
                document.getElementById('month-row').appendChild(month_td);
            }

            if (res.year_return) {
                year_td.innerText = res.year_return.toFixed(2) + '%';
                document.getElementById('year-row').appendChild(year_td);
            } else {
                year_td.innerText = 'No enough data'
                document.getElementById('year-row').appendChild(year_td);
            }
            if (res.ytd_return) {
                ytd_td.innerText = res.ytd_return.toFixed(2) + '%';
                document.getElementById('ytd-row').appendChild(ytd_td);
            } else {
                ytd_td.innerText = 'No enough data'
                document.getElementById('ytd-row').appendChild(ytd_td);
            }
            if (res.three_year_return) {
                three_td.innerText = res.three_year_return.toFixed(2) + '%';
                document.getElementById('three-row').appendChild(three_td);
            } else {
                three_td.innerText = 'No enough data'
                document.getElementById('three-row').appendChild(three_td);
            }

            if (res.five_year_return) {
                five_td.innerText = res.five_year_return.toFixed(2) + '%';
                document.getElementById('five-row').appendChild(five_td);
            } else {
                five_td.innerText = 'No enough data'
                document.getElementById('five-row').appendChild(five_td);
            }

            document.getElementById('input-box').value = '';

        }

        function removeHandler(){
            console.log(page_id);
            let className = this.parentNode.parentNode.className;
            let elements = document.getElementsByClassName(className);
            let parent;
            while(elements.length !== 0){
                for (let i = 0; i < elements.length; i++) {
                    parent = elements[i].parentNode;
                    parent.removeChild(elements[i]);
                }
            }
        }
        function viewHandler(){
            let ticker = this.parentNode.parentNode.className;
            let url = '/stocks/' + ticker;
            window.location.assign(url);
        }



