html
    head
        link(rel="stylesheet" type="text/css" href="/css/watchlists.css")
        script(src="/js/watchlists.js")
    body(onload='loadAll()')
        section
            div
                div#header-div
                    h3#header-text Your Watchlists
            div
                div#input-div
                    input#input-box(type="text" placeholder='Input Watchlist name...' onkeyup='enter_key_handler()')
                    button#add-button(onclick='addHandler()') Add
            div
                div#watchlist-div
                    ul.wl-list#wl-list
            div
                div#delete-div
                    button(onclick='deleteAllHandler()') DELETE ALL
    script.




