#header-div{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 980px;
    background-color: #95a5a6;
    text-align: center;
}

#header-text{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

#input-div{
    margin: auto;
    width: 980px;
    padding: 8px
}

#input-box{
    width: 925px;
    padding: 8px;
}



#add-button{
    height: 35px;
    width: 55px;
    float: right;
}

#watchlist-div {
    font-family: arial, sans-serif;
    margin: auto;
    width: 980px;
    padding: 8px;
}


.wl-list{
    list-style-type: none;
    padding-inline-start: 0px;

}

.wl-list li {
    padding: 10px;
    border: 1px solid #dddddd;
}

.wl-list li > h3 {
    width: 600px;
}
.wl-list li > div{
    float: right;
}

.wl-list li > div > button{
    margin-left: 5px;
}

#delete-div{
    margin: auto;
    width: 980px;
    padding: 8px;
    text-align: center;
}

#delete-div > button{
    color: #ED4F32;
    padding: 5px;
    margin: auto;
}

#delete-div > button:hover{
    background-color: #ED4F32;
    color: #f2f2f2;
    padding: 5px;
    margin: auto;
}